/BeachGarbageDatasetCropped/*
/BeachGarbageDatasetYolo/data/train/*
/BeachGarbageDatasetYolo/data/val/*
/BeachGarbageDatasetYolo/data/test/*
/BeachGarbageDataset/*
/venv-main/*


/BeachGarbageDatasetYolo/data/train/.gitkeep
/BeachGarbageDatasetYolo/data/val/.gitkeep
/BeachGarbageDatasetYolo/data/test/.gitkeep